﻿@model UserCreation.ViewModels.CreateUserModel

<div class="form-horizontal">
    <h4>Success!</h4>
    <hr />
    <div class="text-success"> Successfully saved @Model.Username to the database</div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input action="submit" value="Create New User" class="btn btn-default" onclick="window.location.href ='@Url.Action("Index")'" />
        </div>
    </div>
</div>