﻿@model UserCreation.ViewModels.CreateUserModel
@{
    ViewData["Title"] = "Create User";
}
<form asp-controller="Home" asp-action="CreateUser" method="post" id="userCreationForm">
    <div class="form-horizontal">
        <h4>Register</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username" class="col-md-2 control-label" name="Username"></label>
            <div class="col-md-10">
                <input asp-for="Username" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label" name="Password"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Register" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>